<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Dbconnectstring>Data Source=.\SQL2014;User ID=sa;Password=bwl;Initial Catalog=FeiPiao_BBS;Pooling=true;max pool size=150;min pool size=5;connection timeout=10;</Dbconnectstring>
	<Tableprefix>FP_</Tableprefix>
	<Forumpath>/</Forumpath>
	<Dbtype>SqlServer</Dbtype>
	<Founderuid>0</Founderuid>
</BaseConfigInfo>
