<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>5000张桃花节门票免费送</title>
    <link href="{cssdir}/taohua.css" rel="stylesheet" type="text/css" />
    <link href="{cssdir}/top-nav.css" rel="stylesheet" type="text/css" />
    <link href="{cssdir}/fot.css" rel="stylesheet" type="text/css" />
    <link href="{cssdir}/bssom.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{config.jqueryurl}"></script>

    <script src="{jsdir}/taohua5000.js" type="text/javascript"></script>

    <script type="text/javascript">
      
      function SearchFocus(){
          var topsearch=$('#txt_topsearch');
          if(topsearch.val()=='景区或酒店名称')
          {
            topsearch.val("")
          }
        }

        function SearchBlur(){
          var topsearch=$('#txt_topsearch');
          if(topsearch.val()==''){
            topsearch.val("景区或酒店名称");
          }
        }
    </script>

</head>
<body>
    <%template top%>
    <div class="hongred">
        <div class="dabeijing">
            <div id="xianzi_box">
                <div class="The_light">
                    <dl>
                        <dt>第23届上海市桃花节</dt>
                        <dd>
                            <ul>
                                <li style="float: left">已有</li>
                                <li style="float: left">
                                    <label id="lblnum">
                                        0</label>
                                    &nbsp;人</li>
                            </ul>
                            <div class="clear">
                            </div>
                        </dd>
                        <dd>
                            参与本届桃花节</dd>
                    </dl>
                </div>
                <img src="{imagedir}/bssom_image/5qian_04.jpg" />
                <img src="{imagedir}/bssom_image/5qian_05.jpg" border="0" usemap="#Map" />
                <map name="Map" id="Map">
                    <area shape="rect" coords="448,139,614,180" href="http://bbs.feipiao.cn/userlottery.aspx"
                        target="_blank" />
                    <area shape="rect" coords="718,105,886,148" href="http://bbs.feipiao.cn/taohua_xianzi.aspx"
                        target="_blank" />
                    <area shape="rect" coords="498,150,500,151" href="#" />
                </map>
            </div>
        </div>
        <div id="xianzi_box">
            <div class="Processiu">
                <div class="License_left">
                    <dl class="Processiu_gz">
                        <dt>流程：</dt>
                        <dd style="width: 229px; overflow: hidden;">
                            <img src="{imagedir}/bssom_image/stpe_lt.gif" width="229" height="110" /></dd>
                        <dd style="width: 201px; overflow: hidden;">
                            <img src="{imagedir}/bssom_image/stpe_lt2.gif" width="201" height="110" /></dd>
                        <dd style="width: 207px; overflow: hidden;">
                            <img src="{imagedir}/bssom_image/stpe_lt3.gif" width="207" height="110" /></dd>
                        <div class="clear">
                        </div>
                    </dl>
                    <div class="clear">
                    </div>
                    <div class="jianbian_x">
                        <img src="{imagedir}/bssom_image/canyu_xian.gif" /></div>
                    <ul class="License_plate">
                        <li class="cuzi">报名时间：</li>
                        <li>2013-03-22 至 2013-04-22</li>
                        <li class="cuzi" style="padding-top: 30px;">相关帖跟帖格式：</li>
                        <li><span style="line-height: 22px;">“您的会员名：<br />
                            &nbsp;想参加的桃园：<br />
                            &nbsp;我的理由：<br />
                            &nbsp;举牌ID照：</span></li>
                    </ul>
                </div>
                <div class="lighting">
                    <dl>
                        <dt>已送出<span>92</span>张门票</dt>
                        <dd>
                            大自然商城 1小时前购买了 新场桃园的门票</dd>
                        <dd>
                            estone 3小时前获得了 合庆有机桃园的门票</dd>
                        <dd>
                            金香玉公爵 1小时前获得了 合庆有机桃园的门票</dd>
                        <div class="clear">
                        </div>
                    </dl>
                    <div class="djcanyu">
                        <a href="http://bbs.feipiao.cn/showforum-37.aspx" target="_blank">
                            <img src="{imagedir}/bssom_image/canyu.gif" align="baseline" /></a></div>
                </div>
            </div>
            <div class="jieshao">
                <dl class="taoy_mf">
                    <dt>
                        <img src="{imagedir}/bssom_image/5qian_12.jpg" /></dt>
                    <dd class="datuan">
                        大团桃源 票价35元</dd>
                    <dd style="text-indent: 2em;">
                        又到桃花烂漫时，一年一度的上海桃花节即将拉开序幕，荣为国家AAA级旅游景区的大团桃园在成功举办了五届“上海桃花节”后，今年又以“桃花缘 民俗情”为主题，为游客带来特色的视觉享受。
                        2013年大团桃园桃花节期间将传统踏青赏花与地方民俗节目相整合，致力于打造桃旅游文化、凸显地方民俗风情，以此体现出一种民俗意象与文化视觉相融合的节庆新印象、新氛围。
                    </dd>
                    <dd>
                        <ul class="qukankan">
                            <li style="width: 6px;">
                                <img src="{imagedir}/bssom_image/piaojia3.gif" width="6" height="32" /></li>
                            <li class="qcer">节目表：踏青赏花、民俗演出、展示、参与活动、美食等</li>
                            <li><a href="http://www.feipiao.cn/index.php?act=group_info&amp;id=782" target="_blank">
                                <img src="{imagedir}/bssom_image/kankan.gif" /></a></li>
                        </ul>
                    </dd>
                    <div class="clear">
                    </div>
                </dl>
            </div>
            <div class="jieshao_2">
                <dl class="taoy_mf">
                    <dt>
                        <img src="{imagedir}/bssom_image/5qian_15.jpg" /></dt>
                    <dd class="datuan02">
                        滨海世外桃源 票价22元</dd>
                    <dd style="text-indent: 2em;">
                        滨海世外桃源地处南汇滨海旅游度假区北首。北接浦东国际机场，南依鲜花港、临港新城、东海大桥。占地一千余亩桃林有一百多个品种，是华东地区最大的观赏桃花景点。春暖花开，千亩桃林，变成气势磅礴的花海，微风一吹，花枝摇动，激起层层花波，堪称“天下奇观”。</dd>
                    <dd>
                        <ul class="qukankan">
                            <li style="width: 11px;">
                                <img src="{imagedir}/bssom_image/piaojia3_03.gif" width="11" height="33" /></li>
                            <li class="qcer02">节目表：2013上海桃花节分会场开幕式、民间表演、休闲垂钓等</li>
                            <li><a href="http://www.feipiao.cn/index.php?act=group_info&amp;id=779" target="_blank">
                                <img src="{imagedir}/bssom_image/kankan.gif" /></a></li>
                        </ul>
                    </dd>
                    <div class="clear">
                    </div>
                </dl>
            </div>
            <div class="jieshao_2">
                <dl class="taoy_mf">
                    <dt>
                        <img src="{imagedir}/bssom_image/5qian_17.jpg" /></dt>
                    <dd class="datuan03">
                        新场水乡桃源
                    </dd>
                    <dd style="text-indent: 2em;">
                        “新场桃源”是历届上海桃花节最重要的赏花景点之一。形成于1962年，占地约1000亩，地处新场镇西端果园村，园内水道纵横，是原南汇地区最早种植桃树的地方，为称为“水乡桃源”。园内，万株桃树夹道开，姹紫嫣红春满园，遍地桃花盛开的时候，煞是好看。2013年园内活动众多：水路游园、艺术花灯、民俗嫁娶、皮影戏剧场、桃花园里系姻缘等众多活动为您的踏春游增添众多乐趣。桃园距人民广场32公里，紧靠沪南公路，是距离上海市区最近的桃花节景点，使其自然而然成为了历年上海桃花节最重要的赏花景点之一。</dd>
                    <dd>
                        <ul class="qukankan">
                            <li style="width: 11px;">
                                <img src="{imagedir}/bssom_image/piaojia3_03.gif" /></li>
                            <li class="qcer">节目表：桃林漫步、水乡桃园、民俗绝活、园系姻缘等</li>
                            <li><a href="http://www.feipiao.cn/index.php?act=group_info&amp;id=780" target="_blank">
                                <img src="{imagedir}/bssom_image/kankan.gif" /></a></li>
                        </ul>
                    </dd>
                    <div class="clear">
                    </div>
                </dl>
            </div>
            <div class="jieshao_2">
                <dl class="taoy_mf">
                    <dt>
                        <img src="{imagedir}/bssom_image/5qian_19.jpg" /></dt>
                    <dd class="datuan04">
                        合庆有机桃园 票价16元</dd>
                    <dd style="text-indent: 2em;">
                        合庆有机桃园建立于2001年1月，主栽品种引入日本川中岛优质水蜜桃。2001年向国家环保总局南京有机食品认证中心申请有机农场认证。2005年5月17日获得有机农场证书。其生产的川中岛有机水蜜桃2004——2009年连续6年荣获浦东新区优质水蜜桃评比金奖。2007、2009年分别荣获上海市优质水蜜桃评比金奖。
                        川中岛 有机水蜜2004年投放市场至今深受广大消费者喜爱和追捧。产品供不求。<br />
                        合庆有机桃园是上海交通大学科教兴农基地、上海市优质生态经济林示范基地、上海市安全优质信得过果园、上海桃花节五个景点之一。</dd>
                    <dd>
                        <ul class="qukankan">
                            <li style="width: 11px;">
                                <img src="{imagedir}/bssom_image/piaojia3_03.gif" /></li>
                            <li class="qcer">节目表：乐抓桃花鸡，抽奖得有机水蜜桃等活动等</li>
                            <li><a href="http://www.feipiao.cn/index.php?act=group_info&amp;id=781" target="_blank">
                                <img src="{imagedir}/bssom_image/kankan.gif" /></a></li>
                        </ul>
                    </dd>
                    <div class="clear">
                    </div>
                </dl>
            </div>
            <div class="jieshao_2">
                <dl class="taoy_mf">
                    <dt>
                        <img src="{imagedir}/bssom_image/5qian_21.jpg" /></dt>
                    <dd class="datuan05">
                        南汇桃花村
                    </dd>
                    <dd style="text-indent: 2em;">
                        作为上海桃花节主要活动场所之一的南汇桃花村坐落在南汇区惠南镇北门路289号，距市中心约48公里，园内有360亩桃源、60多亩水泊及100多亩各种名贵树种。这里每年要接待数十万来自市区和全国各地的游客。游人可泛舟而行，在蓝天碧水的映衬下，百里桃花争奇斗艳、云蒸霞蔚：也可舍舟登岸，走进桃花源处，徜徉于花海之中，游人自己也成了一道人面桃花相映红的诗意风景。<br />
                        桃花村现在向游人开放是约300亩桃园、水泊和各类珍贵树种，整个桃花村是“以诗营园，以画勾园，以情蕴园：以绿营景，以画造景，以景观诗，以景载文。”成为现实生活中的都市桃花源。</dd>
                    <dd>
                        <ul class="qukankan">
                            <li style="width: 11px;">
                                <img src="{imagedir}/bssom_image/piaojia3_03.gif" /></li>
                            <li class="qcer">节目表：桃花宴、民俗表演、水上娱乐项目等</li>
                            <li>
                                <img src="{imagedir}/bssom_image/kankan.gif" /></li>
                        </ul>
                    </dd>
                    <div class="clear">
                    </div>
                </dl>
            </div>
            <dl class="Matters">
                <dt>注意事项</dt>
                <dd>
                    1.本次活动中的获奖信息，活动主办方将以邮件和电话联络2种方式通知获奖网友。</dd>
                <dd>
                    2.本次活动中获奖的网友请在收到获奖信息后，尽快回复主办方（飞票网）的获奖通知信。如在获奖信息公布10天内仍未回复确认，则视为放弃。</dd>
                <dd>
                    3.本次活动严谨作弊，一经发现，即取消相关参与者的获奖资格。</dd>
                <dd>
                    4.本次活动最终解释权归飞票网所以。</dd>
            </dl>
        </div>
    </div>
    <%template _webfooter%>
</body>
</html>
