<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>第23届上海市桃花节活动</title>
    <link href="{cssdir}/taohua.css" rel="stylesheet" type="text/css" />
    <link href="{cssdir}/top-nav.css" rel="stylesheet" type="text/css" />
    <link href="{cssdir}/bssom.css" rel="stylesheet" type="text/css" />
    <link href="{cssdir}/fot.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{config.jqueryurl}"></script>

    <script type="text/javascript">
      
      function SearchFocus(){
          var topsearch=$('#txt_topsearch');
          if(topsearch.val()=='景区或酒店名称')
          {
            topsearch.val("")
          }
        }

        function SearchBlur(){
          var topsearch=$('#txt_topsearch');
          if(topsearch.val()==''){
            topsearch.val("景区或酒店名称");
          }
        }
    </script>

    <script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
    </script>

</head>
<body>
    <body onload="MM_preloadImages('{imagedir}/bssom_image/index_top_08.jpg','{imagedir}/bssom_image/index_top_07.jpg','{imagedir}/bssom_image/index_top_06.jpg')">
        <%template top%>
        <div class="pink">
            <div class="index_backg">
                <div id="xianzi_box">
                    <div class="top_iru">
                    </div>
                    <img src="{imagedir}/bssom_image/index_top_04.jpg" width="990" height="177" />
                </div>
            </div>
            <div class="index_backg02">
                <div id="xianzi_box">
                    <img src="{imagedir}/bssom_image/index_top_05.jpg" width="990" height="227" /></div>
            </div>
            <div class="index_backg03">
                <div id="xianzi_box">
                    <li id="menuleft" style="width:316px; overflow:hidden"><a href="http://bbs.feipiao.cn/taohua_5000.aspx" target="_blank"><img src="{imagedir}/bssom_image/index_top_07.jpg" width="316" height="232" border="0"/></a></li>
                    <li id="menuleft" style="width:336px; overflow:hidden"><a href="http://bbs.feipiao.cn/userlottery.aspx" target="_blank"><img src="{imagedir}/bssom_image/index_top_08.jpg" width="336" height="232" border="0"/></a></li>
                    <li id="menuleft" style="width:338px; overflow:hidden"><a href="http://bbs.feipiao.cn/taohua_xianzi.aspx" target="_blank"><img src="{imagedir}/bssom_image/index_top_09.jpg" width="338" height="232" border="0"/></a></li>
                </div>
                <div class="clear"></div>
            </div>
            <div id="xianzi_box">
                <div>
                    <img src="{imagedir}/bssom_image/index_top_06.jpg" width="990" height="188" /></div>
                <ul class="youjity">
                    <li style="width: 332px;">
                        <img src="{imagedir}/bssom_image/indextui_03.jpg" width="332" height="529" border="0"
                            usemap="#Map6" />
                        <map name="Map6" id="Map6">
                            <area shape="rect" coords="204,461,320,519" href="http://www.feipiao.cn/index.php?act=group_info&amp;id=781"
                                target="_blank" />
                        </map>
                    </li>
                    <li style="width: 323px;">
                        <img src="{imagedir}/bssom_image/indextui_04.jpg" width="323" height="529" border="0"
                            usemap="#Map7" />
                        <map name="Map7" id="Map7">
                            <area shape="rect" coords="198,461,306,513" href="http://www.feipiao.cn/index.php?act=group_info&amp;id=780"
                                target="_blank" />
                        </map>
                    </li>
                    <li>
                        <img src="{imagedir}/bssom_image/indextui_05.jpg" width="335" height="529" border="0"
                            usemap="#Map8" />
                        <map name="Map8" id="Map8">
                            <area shape="rect" coords="193,464,308,521" href="http://www.feipiao.cn/index.php?act=group_info&amp;id=779"
                                target="_blank" />
                        </map>
                    </li>
                </ul>
                <ul class="youjity02">
                    <li style="width: 332px;">
                        <img src="{imagedir}/bssom_image/indextui_07.jpg" width="332" height="580" border="0"
                            usemap="#Map5" />
                        <map name="Map5" id="Map5">
                            <area shape="rect" coords="202,504,320,556" href="http://www.feipiao.cn/index.php?act=group_info&amp;id=782"
                                target="_blank" />
                        </map>
                    </li>
                    <li style="width: 323px;">
                        <img src="{imagedir}/bssom_image/indextui_08.jpg" width="323" height="580" /></li>
                    <li>
                        <dl class="dongtai">
                            <dt>
                                <img src="{imagedir}/bssom_image/dongtai.gif" /></dt>
                            <dd>
                                <span>tina</span>1分钟前购买了<label>合庆有机桃园门票</label></dd>
                            <dd>
                                <span>maroram</span>35分钟前购买了<label>滨海桃园门票</label></dd>
                            <dd>
                                <span>zoeyzcw</span>36分钟前购买了<label>新场桃园门票</label></dd>
                            <dd>
                                <span>可乐扬</span>39分钟前购买了<label>新场桃园门票</label></dd>
                            <dd>
                                <span>葡萄_酱</span>50分钟前购买了<label>大团桃园门票</label></dd>
                            <dd>
                                <span>Ruby_1203</span>1小时前购买了<label>新场桃园门票</label></dd>
                            <dt style="padding-top: 20px;">
                                <img src="{imagedir}/bssom_image/xiazai.gif" /></dt>
                            <div class="gonglxz">
                                <h2>
                                    赏花八卦占卜篇</h2>
                                花开几时谁人知，关注花期预测：
                                <br />
                                兴匆匆扑了个空没瞧见桃花，是每个赏花客最大的遗憾，如何选择靠谱的访花日其实很简单： 3月起上海电视台《新闻坊》、浦东旅游会展网、“乐游上海”微博、全市大型广告LED公益时段、社区公益屏等渠道将会定期发布花期预报，可为大家提供便利的、权威的赏花信息哦，敬请关注！</div>
                        </dl>
                    </li>
                    <div class="clear">
                    </div>
                </ul>
                <div>
                    <img src="{imagedir}/bssom_image/indextui_10.jpg" /></div>
                <ul class="youjity03">
                    <li style="width: 206px;">
                        <img src="{imagedir}/bssom_image/indextui_11.jpg" width="206" height="446" border="0"
                            usemap="#Map" />
                        <map name="Map" id="Map">
                            <area shape="rect" coords="36,327,182,383" href="http://bbs.feipiao.cn/taohuaipad.aspx"
                                target="_blank" />
                        </map>
                    </li>
                    <li style="width: 258px;">
                        <img src="{imagedir}/bssom_image/indextui_12.jpg" width="258" height="446" /></li>
                    <li style="width: 259px;">
                        <img src="{imagedir}/bssom_image/indextui_13.jpg" width="259" height="446" /></li>
                    <li>
                        <img src="{imagedir}/bssom_image/indextui_14.jpg" width="267" height="446" /></li>
                </ul>
                <div>
                    <img src="{imagedir}/bssom_image/indextui_15.jpg" /></div>
                <ul class="youjity04">
                    <li style="width: 206px;">
                        <img src="{imagedir}/bssom_image/indextui_16.jpg" width="206" height="432" /></li>
                    <li style="width: 258px;">
                        <img src="{imagedir}/bssom_image/indextui_17.jpg" width="258" height="432" /></li>
                    <li style="width: 259px;">
                        <img src="{imagedir}/bssom_image/indextui_18.jpg" width="259" height="432" /></li>
                    <li>
                        <img src="{imagedir}/bssom_image/indextui_19.jpg" width="267" height="432" /></li>
                </ul>
                <div>
                    <img src="{imagedir}/bssom_image/indextui_20.jpg" width="990" height="74" /></div>
                <ul class="youjity05">
                    <li>
                        <img src="{imagedir}/bssom_image/indextui_21.jpg" width="990" height="191" border="0"
                            usemap="#Map4" />
                        <map name="Map4" id="Map4">
                            <area shape="rect" coords="812,141,952,181" href="http://www.feipiao.cn/index.php?act=group_info&amp;id=778"
                                target="_blank" />
                        </map>
                    </li>
                    <li style="line-height: 186px;">
                        <img src="{imagedir}/bssom_image/indextui_22.jpg" width="990" height="186" border="0"
                            usemap="#Map2Map" />
                        <map name="Map2Map" id="Map2Map">
                            <area shape="rect" coords="53,138,187,177" href="http://www.feipiao.cn/index.php?act=group_info&amp;id=776"
                                target="_blank" />
                        </map>
                    </li>
                    <li style="height: 186px;">
                        <img src="{imagedir}/bssom_image/indextui_23.jpg" width="990" height="204" border="0"
                            usemap="#Map2" />
                        <map name="Map2" id="Map2">
                            <area shape="rect" coords="813,140,947,179" href="http://www.feipiao.cn/index.php?act=group_info&amp;id=777"
                                target="_blank" />
                        </map>
                    </li>
                    <div class="clear">
                    </div>
                </ul>
                <div>
                    <img src="{imagedir}/bssom_image/indextui_24.jpg" width="990" height="217" /></div>
                <ul class="youjity">
                    <li style="width: 321px;">
                        <img src="{imagedir}/bssom_image/indextui_25.jpg" width="321" height="487" /></li>
                    <li style="width: 345px;">
                        <img src="{imagedir}/bssom_image/indextui_26.jpg" width="345" height="487" /></li>
                    <li>
                        <img src="{imagedir}/bssom_image/indextui_27.jpg" width="324" height="487" /></li>
                    <div class="clear">
                    </div>
                </ul>
            </div>
            <div class="flaoy">
                <div id="xianzi_box">
                    <img src="{imagedir}/bssom_image/indextui_29.jpg" /></div>
            </div>
            <div class="flaoy_botom">
                <ul>
                    <li>
                        <img src="{imagedir}/bssom_image/meiti01.gif" vspace="20" /></li>
                    <li>
                        <img src="{imagedir}/bssom_image/meiti02.gif" /></li>
                    <li>
                        <img src="{imagedir}/bssom_image/meiti03.gif" /></li>
                    <li>
                        <img src="{imagedir}/bssom_image/meiti04.gif" /></li>
                    <li>
                        <img src="{imagedir}/bssom_image/meiti05.gif" /></li>
                    <li>
                        <img src="{imagedir}/bssom_image/meiti06.gif" /></li>
                    <div class="clear">
                    </div>
                </ul>
            </div>
            <div class="clear">
            </div>
        </div>
        <%template _webfooter%>
    </body>
</html>
