<DbSnapAppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppDbSnap>false</AppDbSnap>
  <WriteWaitTime>5</WriteWaitTime>
  <LoadBalanceScheduling>RoundRobinScheduling</LoadBalanceScheduling>
  <RecordeLog>false</RecordeLog>
  <DbSnapInfoList>
    <DbSnapInfo>
      <SouceID>1</SouceID>
      <Enable>true</Enable>
      <DbconnectString>Data Source=WIN-DB-SLAVE1\SQLSERVER2008R2;User ID=sa;Password=bwl;Initial Catalog=FeiPiao_BBS;Pooling=true</DbconnectString>
      <Weight>1</Weight>
    </DbSnapInfo>
    <DbSnapInfo>
      <SouceID>2</SouceID>
      <Enable>true</Enable>
      <DbconnectString>Data Source=WIN-DB-SLAVE2\SQLSERVER2008R2;User ID=sa;Password=123;Initial Catalog=FeiPiao_BBS;Pooling=true</DbconnectString>
      <Weight>2</Weight>
    </DbSnapInfo>
    <!--<DbSnapInfo>
      <SouceID>3</SouceID>
      <Enable>true</Enable>
      <DbconnectString>Data Source=DAIZHJ-PC\333333;User ID=sa;Password=123;Initial Catalog=tabletest;Pooling=true</DbconnectString>
      <Weight>2</Weight>
    </DbSnapInfo>
    <DbSnapInfo>
      <SouceID>4</SouceID>
      <Enable>true</Enable>
      <DbconnectString>Data Source=DAIZHJ-PC\44444444;User ID=sa;Password=123;Initial Catalog=tabletest;Pooling=true</DbconnectString>
      <Weight>2</Weight>
    </DbSnapInfo>-->
  </DbSnapInfoList>
</DbSnapAppConfig>