<?xml version="1.0"?>
<EntLibConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--勋章图标地址-->
  <Medaldir>http://bbs.bwl.com/myimage/medals/</Medaldir>
  <!--主题鉴定图标地址-->
  <Topicidentifydir>http://bbs.bwl.com/myimage/identify/</Topicidentifydir>
  <!--主题图标地址-->
  <Posticondir></Posticondir>
  <!--javascript/目录下的js路径勋章-->
  <Jsdir>http://bbs.bwl.com/javascript/</Jsdir>
  <!--附件地址,比如开启SQUID附件缓存地址-->
  <Attachmentdir></Attachmentdir>
  <Cacheattachfiles>
    
  </Cacheattachfiles>
  <Sphinxconfig>
    
  </Sphinxconfig>
  <!--在线表数据库链接地址，用于将在线表布署到别的数据库中，在开启该功能之前，请确保在相应数据库中已有相应的在线表和存储过程-->
  <Onlinetableconnect>
    <!--是否有效-->
    <Enable>false</Enable>
    <!--SqlServer数据库链接地址-->
    <SqlServerConn></SqlServerConn>
  </Onlinetableconnect>
  <Cacheonlineuser>

  </Cacheonlineuser>
  <Cacheusers>

  </Cacheusers>
  <Cachetopics>

  </Cachetopics>
  <Cacheposts>

  </Cacheposts>
  <Cacheattachments>

  </Cacheattachments>
</EntLibConfigInfo>