<?xml version="1.0" encoding="utf-8" ?>
<MemCachedConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--是否应用MemCached-->
  <ApplyMemCached>false</ApplyMemCached>
  <!--链接地址-->
  <ServerList></ServerList>
  <!--链接池名称-->
  <PoolName>DiscuzNT_MemCache</PoolName>
  <!--初始化链接数-->
  <IntConnections>128</IntConnections>
  <!--最少链接数-->
  <MinConnections>128</MinConnections>
  <!--最大连接数-->
  <MaxConnections>512</MaxConnections>
  <!--Socket链接超时时间-->
  <SocketConnectTimeout>1000</SocketConnectTimeout>
  <!--socket超时时间-->
  <SocketTimeout>1000</SocketTimeout>
  <!--维护线程休息时间-->
  <MaintenanceSleep>30</MaintenanceSleep>
  <!--失效转移，即服务器失效后，由其它服务器接管其工作,详情参见http://baike.baidu.com/view/1084309.htm-->
  <FailOver>true</FailOver>
  <!--是否用nagle算法启动socket-->
  <Nagle>true</Nagle>
  <!--本地缓存到期时间，该设置会与memcached搭配使用，单位:秒-->
  <LocalCacheTime>60</LocalCacheTime>
  <!--是否记录日志,该设置仅用于排查memcached运行时出现的问题,如memcached工作正常,请关闭该项-->
  <RecordeLog>false</RecordeLog>
  <!--缓存帖子列表分页数(showtopic页数使用缓存前N页的帖子列表信息)-->
  <CacheShowTopicPageNumber>5</CacheShowTopicPageNumber>
  <!--缓存showforum页面分页数-->
  <CacheShowForumPageNumber>10</CacheShowForumPageNumber>
  <!--缓存showforum页面时间(单位:分钟)-->
  <CacheShowForumCacheTime>2</CacheShowForumCacheTime>
  <!--是否用nagle算法启动socket-->
  <!--<HashingAlgorithm>true</HashingAlgorithm>-->
</MemCachedConfigInfo>