<?xml version="1.0"?>
<RedisConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ApplyRedis>false</ApplyRedis>
  <!--可写的Redis链接地址-->
  <WriteServerList>10.0.4.210:6379</WriteServerList>
  <!--可读的Redis链接地址-->
  <ReadServerList>10.0.4.210:6379</ReadServerList>
  <!--最大写链接数-->
  <MaxWritePoolSize>60</MaxWritePoolSize>
  <!--最大读链接数-->
  <MaxReadPoolSize>60</MaxReadPoolSize>
  <!--自动重启-->
  <AutoStart>true</AutoStart>
  <!--本地缓存到期时间，单位:秒-->
  <LocalCacheTime>180</LocalCacheTime>
  <!--单位:秒-->
  <RecordeLog>false</RecordeLog>
  <!--缓存帖子列表分页数(showtopic页数使用缓存前N页的帖子列表信息)-->
  <CacheShowTopicPageNumber>2</CacheShowTopicPageNumber>
  <!--缓存showforum页面分页数-->
  <CacheShowForumPageNumber>2</CacheShowForumPageNumber>
  <!--缓存showforum页面时间(单位:分钟)-->
  <CacheShowForumCacheTime>10</CacheShowForumCacheTime>
</RedisConfigInfo>